
.container__body {
    margin: 0 100px;
    height: 100vh;
    padding-top: 30px;
    background-color: rgb(209, 206, 206);
}

.parent__infor {
    max-width: 400px;
    height: 185px;
    margin: auto;
    padding: 10px;
    background-color: rgb(59, 65, 170);
}

h2 {
text-align: center;
padding: 10px;
margin: 0;
color: white;
}

.detail__infor {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.field {
    min-width: 170px;
    color: white;
}

.inputInfor {
    flex: 1;
}