/* .container__content {
  margin: 0 100px;
  height: 700px;
  background-color: rgb(255, 255, 255);
}



.add__project__button {
  margin: 10px 0;
  float: right;
  background-color:  rgb(12, 70, 230);
  color: rgb(255, 255, 255);
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.add__project__button:hover {
  background-color: rgba(12, 70, 230, 0.8);
} */

/* .parent__table {
  margin-top: 70px;
} */

/* .content {
  margin: 0 100px;
  height: 700px;
  background-color: rgb(255, 255, 255);
}

.btn__add-project {
  margin: 10px 0;
  float: right;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}

.tbl__parent {
  margin-top: 30px;
} */


