.container__content {
  margin: 0 100px;
  height: 700px;
  background-color: rgb(209, 206, 206);
}



.add__project__button {
  margin: 10px 10px;
  background-color:  rgb(12, 70, 230);
  color: rgb(255, 255, 255);
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.add__project__button:hover {
  background-color: rgba(12, 70, 230, 0.8);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

thead tr th {
  padding: 10px 5px;
  background-color: rgba(12, 70, 230, 0.8);
  color: white;
}

/* tbody tr:nth-child(even) {
  background-color: rgb(206, 224, 241);
}

tbody tr:nth-child(odd) {
  background-color:rgb(103, 121, 137);
} */

tbody tr {
  background-color: rgb(149, 195, 236);
}

tbody tr td {
  padding: 5px;
}

tbody tr:hover {
  background-color: rgba(12, 70, 230, 0.3);
}

/* .parent__table {
  margin-top: 70px;
} */

/* .content {
  margin: 0 100px;
  height: 700px;
  background-color: rgb(255, 255, 255);
}

.btn__add-project {
  margin: 10px 0;
  float: right;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}

.tbl__parent {
  margin-top: 30px;
} */


